body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* background-color: #f9f9f9; */
  color: #213547;
}
a {
  font-weight: 500;
  color: #00eaf3;
  text-decoration: inherit;
}
.naveContinar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f242d;
  color: #ffff;

  
}
.naveContinar, .pages, ul, li{
  display: flex;
  gap: 10%;
  padding: 0% 10% 0% 10%;


} 